.MenuItem {
	display: flex;
	flex-direction: column;
}

.MenuItem button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1.1rem;
	font-variant: small-caps;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 3px;
	cursor: pointer;
	transition: 0.3s;
	font-family: 'Roboto Condensed', sans-serif;
}

.MenuItem button.noWasOrder {
	background-color: rgb(70, 194, 70);
}

.MenuItem button.noWasOrder:hover {
	background-color: rgb(102, 247, 145);
}

.MenuItem button.wasOrder:disabled {
	background-color: rgb(102, 247, 145);
	cursor: not-allowed;
}

.MenuItem button.deleteOrder {
	background-color: rgb(192, 36, 36);
}

.MenuItem button.deleteOrder:disabled {
	background-color: rgb(206, 64, 64);
	cursor: not-allowed;
}

.MenuItem input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.MenuItem input[type=number] {
	width: 25px;
   -moz-appearance: textfield;
   appearance: textfield;
	display: flex;
	align-items: center;
	text-align: center;
}

.MenuItemContainer {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	color: black;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	z-index: 2;
}

.MenuItemContainer a {
	color: black;
}

.MenuItemContainer img {
	border-radius: 10px 10px 0 0;
	width: 100%;
}

.MenuItemContainer h2 {
	margin: 10px;
	font-variant: small-caps;
	font-weight: bolder;
}

.MenuItemContainer p {
	margin: 10px;
	font-size: 0.9rem;
	color: #111;
}

span.item-value {
	color: rgb(15, 201, 15);
	font-weight: bold;
	font-size: 1rem;
}

p.item-price span {
	margin-left: 3px;
}

.MenuItemConfig {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
}

.MenuItemConfig button {
	width: 25px;
	height: 25px;
	color: red;
}

.MenuItemConfig button:disabled {
	cursor: not-allowed;
}

@media (max-width: 600px) {
	.MenuItem .MenuItemInfo {
		display: flex;
	}

	.MenuItem-text {
		text-align: left;
	}

	.MenuItem img {
		width: 50%;
		border-radius: 10px 0 0 0;
	}
}
