.MenuContainer-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 20px;
	padding: 20px;
}

.MenuContainer-items a {
	z-index: 2;
}

@media (max-width: 600px) {
	.MenuContainer-items {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 500px) {
	.MenuContainer-items {
		padding: 10px;
	}
}
