.MenuContainer {
	display: flex;
	flex-direction: column;
}

.MenuContainer h1 {
	display: block;
	text-align: left;
	font-variant: small-caps;
	color: red;
	z-index: 3;
	margin-right: auto;
}

.ContainerHeading {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	position: sticky;
	top: 0;
	padding: 20px;
	z-index: 3;
}

.account-div {
	color: white;
}

@media (max-width: 500px) {
	.MenuContainer h1 {
		font-size: 1.3rem;
	}
}
