.MenuContainer {
	display: flex;
	flex-direction: column;
}

.MenuContainer h1 {
	display: block;
	text-align: left;
	font-variant: small-caps;
	color: red;
	z-index: 3;
	margin-right: auto;
}

.MenuItem-text {
	padding-bottom: 10px;
}

@media (max-width: 500px) {
	.MenuContainer h1 {
		font-size: 1.3rem;
	}
}
