.Header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 1000px;
	height: fit-content;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
