.NavBar {
	z-index: 2;
}

.NavBar ul {
	list-style: none;
	display: flex;
}

.NavBar a {
	position: relative;
	color: white;
	margin: 0 10px;
	padding: 10px 20px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	transition: 0.4s;
}

.NavBar a:hover {
	background-color: white;
	color: rgb(255, 123, 0);
	border-radius: 5px;
}

.orders-counter {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: orange;
	font-size: 0.7rem;
}

@media (max-width: 500px){
	.NavBar a {
		font-size: 0.7rem;
		margin: 0 5px;
		padding: 10px;
		transition: 0.4s;
	}

	.orders-counter {
		width: 20px;
		height: 20px;
		font-size: 0.5rem;
		top: -5px;
		right: -10px;
	}
}
